
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6" style="float:right; padding-right:10% !important;">
        <h6>About BRS</h6>
        <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </span>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Contact Us</h6>
        <span><i class="fas fa-envelope text-black"></i>&nbsp;&nbsp;general@brs.com.my</span><br />
        <span><i class="fas fa-phone text-brown"></i>&nbsp;&nbsp;Tel: 603-8179 4400 </span><br />
        <span><i class="fas fa-phone text-brown"></i>&nbsp;&nbsp;Faks: 603-8005 9446</span><br />
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Office Address</h6>
        <span>
          <i class="fas fa-map-marker-alt text-white"></i>&nbsp;&nbsp;Pejabat
          Malaysian BRS Tech<br />
          No 6, Persiaran Institusi,<br />
          Bandar Baru Bangi,<br />
          43000 Kajang,<br />
          Selangor Darul Ehsan.
        </span>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#" class="font-weight-bold">BRS - Booking Restaurant System</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook text-blue"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter text-info"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-instagram text-pink"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin text-blue"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>